# Assigment 1 execution

Corpora: https://www.nltk.org/nltk_data/ , point 91, "Dependency Parsed Treebank" ([link](https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/packages/corpora/dependency_treebank.zip)).

Docs:
* https://www.nltk.org/api/nltk.corpus.html
* https://www.nltk.org/data.html
* https://www.nltk.org/install.html

In [19]:
#%pip install nltk

In [20]:
#from nltk import download
#download()
#from nltk.corpus import dependency_treebank
#from nltk.data import load
#dependency_treebank_test = load("nltk:") 
#sentences = dependency_treebank.sents()
#words = dependency_treebank.words()

In [21]:
from re import sub
import numpy as np
import pandas as pd

In [22]:
def loadCorpus(start, stop):
    return pd.concat([
        pd.read_csv(f'./dependency_treebank/wsj_{"{:04d}".format(num)}.dp', sep="\t", names=["word","label","num"]) for num in range(start, stop)
    ])

In [23]:
test_set = loadCorpus(1,101)
test_set.count()

word     47356
label    47356
num      47356
dtype: int64

In [24]:
test_set.head()

     word label  num
0  Pierre   NNP    2
1  Vinken   NNP    8
2       ,     ,    2
3      61    CD    5
4   years   NNS    6

In [25]:
test_set["word"] = [sub(r'[^\w]', '', word) for word in test_set["word"]]
test_set = test_set[test_set["word"] != ""]
test_set.count()

word     41149
label    41149
num      41149
dtype: int64

In [26]:
test_set.head()

     word label  num
0  Pierre   NNP    2
1  Vinken   NNP    8
3      61    CD    5
4   years   NNS    6
5     old    JJ    2

NameError: name 'dependency_treebank' is not defined